.loader {
  display: inline-block;
  border: 5px solid #e4e4e4;
  border-top: 5px solid #f65858;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader.loader-small {
  width: 30px;
  height: 30px;
}

.loader.loader-medium {
  width: 60px;
  height: 60px;
}

.loader.loader-large {
  width: 90px;
  height: 90px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
