.placeholder {
  display: inline-block;
  animation: fading 3s linear infinite;
  background: #9e9e9e;
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}
