.list {
  font-family: 'Manrope';
  font-size: 14px;
}

.list-item {
  padding: 10px;
}

.list.divided .list-item {
  border-bottom: 1px solid #e4e4e4;
}

.list.divided .list-item:last-child {
  border: none;
}
