.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'Manrope';
}

.card.horizontal {
  display: flex;
}

.card.horizontal .card-image {
  flex: 1;
}

.card.horizontal .card-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  height: 100%;
}

.card.horizontal .card-stacked {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.card.horizontal .card-stacked .card-content {
  flex: 3;
}

.card.horizontal .card-stacked .card-footer {
  flex: 1;
}

.card .card-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .card-content {
  padding: 15px;
}

.card .card-header {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.card .card-description {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 14px;
}

.card .card-footer {
  text-align: right;
  padding: 15px;
  background-color: #fafafa;
}
